*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: dimgray;
}
.container{
    width: 500px;
    margin: 0 auto;
    border: 3px solid darkmagenta;
}