* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: dimgray;
}

.container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid darkmagenta;

}

.rail {
    width: 500px;
    margin: 0 auto;
    font-size: 2rem;
    position: relative;
    /* animation: play 3s linear infinite; */
    text-align: end;
    /* border: 2px solid salmon; */
}

.train{
    animation: play 3s linear infinite;
}

@keyframes play {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

.train {
    color: indianred;
    /* position: absolute;
    right: 15rem;
    top: 50%; */





}